@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');


.flower-box {
    z-index: -10;
    position: relative;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;

    @mixin star($color){
        position: absolute;
        left: 85%;
        bottom: 85%;
        padding: 6px;
        border-radius: 50%;
        background-color: $color
    }

    .star-not-favourite{
        @include star(grey)
    }
    .star-favourite{
       @include star(rgb(221, 144, 144))
    }

    @mixin flower($font-size, $font-weight){
        font-family: "Ubuntu";
        font-size: $font-size;
        font-weight: $font-weight;
    }

    .flower-name{
        @include flower(20px, 500)
    }
    .flower-latin-name{
        @include flower(12px, 300);
        font-style: italic;
    }
    .flower-sightings{
        @include flower(16px, 300);
        margin-top: 25px;
        margin-bottom: 20px;
        padding:8px 15px;
        background-color: black;
        border-radius: 40px;
        opacity: 0.8;
    }
}

